#General
IS_DEBUG=True
SECRET_KEY=56df3f149e23efc7825c9b9d56168d39e432cf0195e3330b06184e1192fe6e00

#Database
POSTGRES_DB="notifications"
POSTGRES_HOST="postgres"
POSTGRES_PASSWORD="secret-password"
POSTGRES_USER="postgres"
POSTGRES_PORT="5432"

#Debeziumm
DEBEZIUM_URL="debezium"

#Kafka
KAFKA_HOST="kafka"
KAFKA_PORT="9092"

#schema-registry
SCHEMA_REGISTRY_HOST="schema-registry"

REACT_APP_API_URL="http://cintelink_app:8000"
